%tr
  %td= group_label
  %td= counts[:interns_size]
  %td= counts[:juniors_size]
  %td= counts[:regulars_size]
  %td= counts[:seniors_size]
  %td= counts[:interns_size] + counts[:juniors_size] + counts[:regulars_size] + counts[:seniors_size]
