.list-group-item
  %h4.list-group-item-heading= link_to membership.project, project_path(membership.project)
  .list-group
    .membership__item
      - if current_user.admin?
        = link_to edit_membership_path(membership), class: 'list-group-item' do
          = render 'project_membership', membership: membership
        = link_to 'delete', membership, method: :delete, data: { confirm: I18n.t('confirm_question') }, class: 'btn btn-xs btn-danger pull-right'
      - else
        .list-group-item
          = render 'project_membership', membership: membership
      .clearfix
