#user.row
  .col-sm-6
    .user-heading
      %h1
        - if user_show_page.user_gravatar.present?
          = user_show_page.user_gravatar
        = user_show_page.user.name
      = mail_to user.email, "send email"
    = render 'details_form', details_page: user_details_page

  .col-sm-6
    - if current_user.admin?
      = render 'new_membership_form', membership_page: new_membership_page
    = render 'positions', details_page: user_details_page

    .list-group
      - user_show_page.user_booked_memberships.each do |membership|
        = render partial: 'membership', locals: { membership: membership }
      - user_show_page.user_active_memberships.each do |membership|
        = render partial: 'membership', locals: { membership: membership }
      - user_show_page.user_archived_memberships.each do |membership|
        = render partial: 'membership', locals: { membership: membership }

  .time-section
    .timeline
    .timeline-buttons

:javascript
  var elTimeline = $(".timeline");
  var filteredEvents = gon.events.filter(function(obj) {
    return obj.project_potential === false;
  });
  var timeline = elTimeline.timeline(filteredEvents);
  elTimeline.scrollTo(elTimeline[0].scrollWidth, 0);
  $('#user').append(timeline);
