#user.row
  .col-sm-6
    .user-heading
      %h1
        - if user_show_page.user_gravatar.present?
          = user_show_page.user_gravatar
        = user_show_page.user.name
      = mail_to user.email, "send email"
    = render 'details_form', details_page: user_details_page

  .col-sm-6
    = render 'new_membership_form', membership_page: new_membership_page

    .list-group
      - user_show_page.user_active_projects.reverse_each do |project, memberships|
        = render partial: 'projects', locals: { project: project, memberships: memberships }
      - user_show_page.user_archived_projects.reverse_each do |project, memberships|
        = render partial: 'projects', locals: { project: project, memberships: memberships }

  .time-section
    .timeline
    .timeline-buttons
