.row
  = simple_form_for project  do |f|
    .col-xs-12.col-sm-6
      = f.input :name
      = f.input :color
      = f.input :kickoff, as: :date_picker, wrapper: :prepend, label_html: { class: 'input-group-addon' }
      = f.input :starts_at, as: :date_picker, wrapper: :prepend, label_html: { class: 'input-group-addon' }
      = f.input :end_at, as: :date_picker, wrapper: :prepend, label_html: { class: 'input-group-addon' }
      = f.input :potential, as: :boolean, wrapper: :vertical_boolean, label: false, inline_label: true, input_html: { checked: project.potential }
      = f.input :internal, as: :boolean, wrapper: :vertical_boolean, label: false, inline_label: true, input_html: { checked: project.internal }
      = f.input :project_type, label: 'Type', collection: Project::POSSIBLE_TYPES, label_method: ->(l) {l.humanize}, include_blank: false
      = f.input :maintenance_since, as: :date_picker, wrapper: :prepend, required: true, label_html: { class: 'input-group-addon'},
        wrapper_html: { id: 'maintenance_wrapper', class: f.object.maintenance_visibility }
      = f.input :toggl_bookmark
    .col-xs-12.actions
      = link_to "Back", :back, class: "btn btn-default btn-sm"
      = f.button :submit, "Save", class: "btn-success"
