#filters
  .filters
    .availability-time
      %select{ name: 'availability_time', placeholder: 'Only show users available in…'}
    .roles
      %input{ type: 'text', name: 'roles', placeholder: 'Filter roles…' }
    .abilities
      %input{ type: 'text', name: 'abilities', placeholder: 'Filter abilities…' }

  %ul.nav.nav-tabs.scheduled-users-categories
    %li.category.active{ data: { category: 'all', sort: 'name', 'sort-direction' => 1 } }
      = link_to '#' do
        All
        %span.user-count
    %li.category{ data: { category: 'juniors-interns', sort: 'seconds_of_longest_current_membership' } }
      = link_to '#' do
        Juniors/Interns
        %span.user-count
    %li.category{ data: { category: 'to-rotate', sort: 'seconds_of_longest_current_membership' } }
      = link_to '#' do
        To Rotate
        %span.user-count
    %li.category{ data: { category: 'internals', sort: 'seconds_of_longest_current_membership' } }
      = link_to '#' do
        Internals
        %span.user-count
    %li.category{ data: { category: 'in-progress', sort: 'seconds_of_longest_current_membership' } }
      = link_to '#' do
        Rotation In Progress
        %span.user-count
    %li.category{ data: { category: 'in-commercial-with-due-date', sort: 'seconds_of_longest_current_membership' } }
      = link_to '#' do
        In Commercial Project With Due Date
        %span.user-count
    %li.category{ data: { category: 'booked', sort: 'seconds_of_longest_current_membership' } }
      = link_to '#' do
        Booked
        %span.user-count
    %li.category{ data: { category: 'unavailable', sort: 'seconds_of_longest_current_membership' } }
      = link_to '#' do
        Unavailable
        %span.user-count

%table.table.table-striped.table-hover#scheduled-users.scheduled-users
  %thead
    %th{ data: { name: 'user' } }
      %p.column-name User
      .sort
        .up.glyphicon.glyphicon-chevron-up{ data: { sort: 'name' } }
        .down.glyphicon.glyphicon-chevron-down{ data: { sort: 'name' } }
    %th{ data: { name: 'role' } }
      %p.column-name Role
    %th{ data: { name: 'current-project' } } Current project
    %th{ data: { name: 'next-project' } } Next Projects
    %th{ data: { name: 'booked' } } Booked
    %th{ data: { name: 'notes' } } Notes

= render partial: 'user_notes'
