%h1= role.name

%p
  = t('roles.show.priority')
  = role.priority
= link_to role_path(role), method: :delete, data: { confirm: t('roles.show.remove_confirmation') } do
  .btn.btn-danger
    %span.glyphicon.glyphicon-trash
    = t('roles.show.remove_btn_label')
